# How many cooling towers are there in NYC?

In [1]:
import pandas as pd

## Data from NY State DOH

In [21]:
# source = https://health.data.ny.gov/Health/Registered-Cooling-Tower-Map/unmf-baqa
# filtered that data by the county column and then downloaded

stateHealth = pd.read_csv('Registered_Cooling_Tower_Map.csv')
stateHealth.head()

,Equipment County,Equipment Borough,Equipment Street No.,Equipment Street Address,Equipment City,Equipment Zip Code,Equip. Unique ID,Intended Use,Manufacturer,Model,Cooling Capacity,Cooling Capacity Unit,Commissioned Date,Inspection Date,Date of Bacteriological Sample Collection,Date of Legionella Sample Collection,Location 1
0,New York,Manhattan,140,West Street,New York,10007.0,6,Air Conditioning,Marley,NC7132SM,600.0,Tonnage,08/10/2005,NaN,NaN,NaN,"(40.713989343, -74.01331175)"
1,New York,Manhattan,601,Lexington Avenue,New York,10022.0,7,Air Conditioning,Marley,475-314,5500.0,Tonnage,01/01/1976,01/04/2017,10/17/2016,12/29/2016,"(40.758779432, -73.970483529)"
2,New York,Manhattan,205,East 67th Street,New York,10065.0,14,Air Conditioning,Baltimore Aircoil,VT1-340QMX,315.0,Tonnage,07/01/2003,10/17/2016,10/17/2016,10/17/2016,"(40.766343808, -73.962182705)"
3,New York,Manhattan,114,W 47th St,New York,10036.0,15,Air Conditioning,BAC,T26030CS,1291.0,Tonnage,01/01/2005,11/09/2016,12/08/2016,12/08/2016,"(40.758350679, -73.982927233)"
4,New York,Manhattan,114,W 47 St,New York,10036.0,16,Air Conditioning,BAC,T2683NCS,750.0,Tonnage,01/01/2005,11/09/2016,12/08/2016,12/08/2016,"(40.758350679, -73.982927233)"

In [22]:
len(stateHealth)

4007

In [23]:
len(stateHealth['Equip. Unique ID'].unique())

4007

In [24]:
stateHealth.to_csv(path_or_buf='legion_data_nyc.csv')